//====================================================================================================
.footer {
	padding: rem(51) rem(0) rem(54) rem(0);

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: rem(26);
	}

	&__social {
		display: flex;
		gap: rem(35);

	}

	&__link {
		color: $mainColor;
	}

	&__copiright {
		font-weight: 400;
		@include adaptiveValue("font-size", 14, 12);
		line-height: math.div(21, 14);

	}
}

//====================================================================================================