.page {

	&__portfolio {}
}

.portfolio {
	@include adaptiveValue("padding-top", 160, 80);
	padding-bottom: rem(58);

	&__container {
		max-width: rem(712);
	}

	&__header {}

	&__title {
		font-weight: 900;
		@include adaptiveValue("font-size", 44, 30);
		line-height: math.div(60, 44);
	}

	&__content {
		margin-top: rem(25);
	}

	&__work {}
}

.work-portfolio {
	display: flex;
	border-bottom: 1px solid #E0E0E0;
	width: 100%;
	gap: rem(18);
	padding: rem(0) rem(0) rem(25) rem(0);

	@media (max-width:$tablet){
		flex-direction: column;
		
	}

	&:not(:last-child) {
		margin-bottom: rem(40);
	}

	&__image {
		overflow: hidden;
		max-width: rem(246);
		max-height: rem(180);
		border-radius: rem(6);

		@media (max-width:$tablet) {
			max-width: none;
			max-height: fit-content;
		}

		img {
			width: 100%;
			height: 100%;

			border-radius: rem(6);
			transition: transform 0.3s ease 0s;

			@media (any-hover: hover) {
				&:hover {
					transform: scale(1.1);
				}
			}
			@media (max-width:$mobile){
				
				object-fit: cover;
			}

		}
	}

	&__link {
		transition: color 0.3s ease 0s;

		&:hover {
			color: $redColor;
		}
	}

	&__body {
		display: flex;
		flex-direction: column;
		gap: rem(22);
	}

	&__title {
		font-weight: 700;
		@include adaptiveValue("font-size", 30, 24);
		line-height: math.div(44, 30);
	}

	&__description {
		display: flex;
		gap: rem(26);
	}

	&__date {
		font-weight: 900;
		@include adaptiveValue("font-size", 18, 14);
		line-height: math.div(20, 18);
		color: #fff;
		background: #142850;
		border-radius: rem(16);
		padding: rem(5) rem(10);
	}

	&__tag {
		font-weight: 400;
		@include adaptiveValue("font-size", 20, 18);
		line-height: math.div(29, 20);
		color: #8695A4;
	}

	&__text {
		font-weight: 400;
		@include adaptiveValue("font-size", 16, 14);
		line-height: math.div(24, 16);
		max-width: rem(438);

		@media (max-width:$tablet){
			 max-width: none; 
		}
	}
}